
*
{
    margin:0;
    padding:0;
}


main
{
    display: flex;
}
#product_table
{
    width:70%;
}

#product_region
{
    width:60%;
    display:flex;
    justify-content: center;
}

.product_row:hover
{
    background-color: lightcoral;
}
#product_specific_container
{
    width:30%;
    order:2;
}

#tag_container
{
    border: 0.2rem solid black;
    padding: 1rem;
}

.individual_tag
{
    display:flex;
    justify-content: space-between;
}
#add_tag
{
    border:none;
    background-color: antiquewhite;
    padding:0.5rem;
}

.table_description
{
    width:50%;
}