/* Dark mode styles */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

header.dark-mode, footer.dark-mode {
    background-color: #1e1e1e;
}

.basket-page.dark-mode {
    background-color: #1e1e1e;
}

.basket-container.dark-mode {
    background-color: #333333;
}

/* Add more dark mode styles as needed */