/* Dark mode styles */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

header.dark-mode, footer.dark-mode {
    background-color: #1e1e1e;
}

.banner.dark-mode {
    background-color: #333333;
}

.carousel-container.dark-mode {
    background-color: #1e1e1e;
}

.hot-product.dark-mode {
    background-color: #1e1e1e;
}

.hot-product .hot-product-details.dark-mode {
    background-color: #333333;
}

/* Add more dark mode styles as needed */