* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}









#product_image {
    width: 100%;
    height: 100%;
}

#product {
    width: 80%;
    height: 90%;
    display: grid;
    margin: 4rem auto 2rem auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "";
    gap: 20px;
}

#basket_button {
    background-color: #800080;
    height: 2rem;
    margin-top: 2rem;
    color: white;
    border-radius: 0.5rem;
    width: 100%;
    border: none;
}



#image_container {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: start;
}

#content {
    margin-left: 2rem;
    margin-top: 0;
    padding-top: 0;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-content: start;
    display: flex;
    flex-flow: column;
}

#title {
    text-align: left;
    margin-top: 0;
}

#rating_summary {
    background-size: 2px;

    display: flex;
    justify-content: left;
    align-items: center;
}

#rating_summary>b {
    color: #FDCC0D;
    font-size: 2rem;
}

#product #review-area {
    text-align: center;
}

#review_text {
    width: 100%;
    display: block;
    height: 7rem;
    resize: none;
    overflow: scroll;

}

#review-title {
    margin-top: -20px;
    padding-bottom: 20px;
}



#rating {
    display: block;
    width: 100%;
}

#review_form {
    display: none;
    width: 20%;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 0.3rem solid white;
    border-radius: 2rem;
    padding: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#review_form>.input {
    margin: 1rem;
    width: 100%;
}

#review-area {
    padding-top: 50px;
    color: white;
    border: 0.2rem solid grey;
    border-radius: 0.5rem;
    background-color: #bebebe;
    margin-top: 10px;
    align-items: center;
    height: max-content;
}

#text-stars {
    padding-left: 100px;
}

#review_submit {
    background-color: #800080;
    border: 0.1rem solid black;
    border-radius: 5rem;
    width: 100%;
}

.star {
    width: 3rem;
    height: 3rem;
}

#review_button {
    border: 0.2rem solid white;
    background-color: white;
    height: 3rem;
    float: right;
    padding: 0.5rem;
    border-radius: 5rem;
}

#review-area #review_button {
    margin-left: 50px;
}


.review {
    border: 0.2rem solid white;
    padding: 1rem;
    margin: 0.6rem 0;
    width: 100%;
    color: black;
    background-color: white;
    height: 100%;

}

#star_container {
    width: 20rem;
}

#reviews {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;


}