@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat;
}

.title {
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: black;
}

.subtitle{
    text-align: center;
    color: #474747;
    font-size: 1.2em;
}

h3{
    color: black;
}

#next{
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    background-color: yellowgreen;
    border-style: none;
}