@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat;
}

.title {
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: black;
}

.subtitle{
    text-align: center;
    color: #474747;
    font-size: 1.2em;
}

.wrapper{
    width:50%;
    height: 200px;
    margin-left: 26%;
    margin-top: 50px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 50px rgba(0, 0, 0, 1);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    color: #333;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 10px;
    padding:10px 40px;
}



h3{
    color: black;
}

#choice{
    margin-top: 45px;
    margin-left: 40%;
    width: 140px;
}

#btnNext{
    margin-top: 40px;
    margin-left: 45%;
    width: 50px;
    background-color: white;
    color: black;
    border: 2px solid black; /* Green */
}


#question{
    text-align: center;
}